@use "sass:math";

// Sizes
$winbar-height: 30px;
$navbar-height: 48px;
$minibar-height: 48px;
$taskbar-height: 36px;

$memberlist-width: 300px;
$serverlist-width: 120px;
$serveritem-width: 70px;
$serverspacing-width: math.div($serverlist-width - $serveritem-width, 2);

// General colours
$blue-select: rgb(22, 101, 202);
$blue-max: rgb(0, 90, 231);
$blue-vivid: rgb(3, 114, 255);
$blue-mild: rgb(87, 140, 208);
$blue-bright: rgb(16, 140, 228);

$red-bright: rgb(230, 77, 28);
$red-max: rgb(199, 50, 7);

$green-bright: rgb(56, 196, 56);
$green-max: green;

$beige: rgb(235, 232, 215);
$beige-light: rgb(240, 239, 237);

$unbeige: rgb(17, 34, 51);
$unbeige-light: rgb(34, 51, 68);

$white-overlay: hsla(0, 0%, 100%, 0.7);
$black-overlay: hsla(0, 0%, 0%, 0.7);

$channels-blue: rgb(106, 128, 218);
$chat-blue: rgb(214, 224, 248);
$tabs-blue: rgb(18, 66, 166);
$tabs-center-blue: rgb(48, 106, 198);