@use "../../top/vars" as *;

.menu_dc52c6 {
    .scroller__750f5 {
        padding: 0;
        padding-left: 2px;
    }

    .colorDefault__0b482.focused__27621 {
        background: $blue-select;
    }
}
