@use "../../top/vars" as *;

.menu-2TXYjN {
    .scroller-nxCRu_ {
        padding: 0;
        padding-left: 2px;
    }

    .colorDefault-2_rLdz.focused-3LIdPu {
        background: $blue-select;
    }
}
