@use "../../top/vars" as *;

.menu_d90b3d {
    .scroller_d90b3d {
        padding: 0;
        padding-left: 2px;
    }

    .colorDefault_d90b3d.focused_d90b3d {
        background: $blue-select;
    }
}
