// User settings
// Imports for user settings

// Server settings
// Imports for server settings

@use "../top/vars" as *;
@use "../top/box";

// Undo hiding base layer when settings appears
.layers-OrUESM > .layer-86YKbF {
    opacity: 1 !important;
    transform: none !important;
    animation: none;
}

.layer-86YKbF:not(.baseLayer-W6S8cY) {
    background: transparentize(black, 0.3);
    z-index: 101;
    pointer-events: none;

    .standardSidebarView-E9Pc3j {
        top: 20vh;
        right: unset;
        bottom: $taskbar-height;
        pointer-events: all;
        @include box.windowHasPseudoTitle("User Settings");

        &::before {
            height: 50px;
            inset: -50px -2px auto -2px;
            font-size: 1.5rem;
            line-height: 3.2rem;
        }
    }

    // Settings sidebar
    .sidebarRegion-1VBisG {
        flex: 0 0 auto;

        --background-modifier-selected: #{$blue-select};
        --background-modifier-hover: var(--xp2-background-hover);

        .sidebarRegionScroller-FXiQOh {
            background: var(--xp2-background);
        }

        .sidebar-nqHbhN {
            padding: 16px 0;
        }
    }

    // Settings options
    .contentRegion-3HkfJJ {
        --background-primary: var(--xp2-background);
        --background-secondary: var(--xp2-background);
        --background-tertiary: var(--xp2-background-chat);
        --background-secondary-alt: var(--xp2-background-chat);

        .contentRegionScroller-2_GT_N {
            background: var(--xp2-background-2);
        }
    }
}
