// User settings
// Imports for user settings

// Server settings
// Imports for server settings

@use "../top/vars" as *;
@use "../top/box";

// Undo hiding base layer when settings appears
.layers__1c917 > .layer__2efaa {
    opacity: 1 !important;
    transform: none !important;
    animation: none;
}

.layer__2efaa:not(.baseLayer__8fda3) {
    background: transparentize(black, 0.3);
    z-index: 101;
    pointer-events: none;

    .standardSidebarView__1129a {
        top: 20vh;
        right: unset;
        bottom: $taskbar-height;
        pointer-events: all;
        @include box.windowHasPseudoTitle("User Settings");

        &::before {
            height: 50px;
            inset: -50px -2px auto -2px;
            font-size: 1.5rem;
            line-height: 3.2rem;
        }
    }

    // Settings sidebar
    .sidebarRegion__60457 {
        flex: 0 0 auto;

        --background-modifier-selected: #{$blue-select};
        --background-modifier-hover: var(--xp2-background-hover);

        .sidebarRegionScroller__1fa7e {
            background: var(--xp2-background);
        }

        .sidebar__9e3e2 {
            padding: 16px 0;
        }
    }

    // Settings options
    .contentRegion__0bec1 {
        --background-primary: var(--xp2-background);
        --background-secondary: var(--xp2-background);
        --background-tertiary: var(--xp2-background-chat);
        --background-secondary-alt: var(--xp2-background-chat);

        .contentRegionScroller__86c79 {
            background: var(--xp2-background-2);
        }
    }
}
