@use "../top/vars-scss" as *;

.form-3gdLxP {
    background: var(--xp2-background-2);
    padding: 0;

    &::before {
        display: none;
    }

    .channelTextArea-1FufC0 {
        margin-bottom: 4px;
        margin-top: 24px;
    }

    .scrollableContainer-15eg7h {
        background: var(--xp2-background-2);
    }

    .textArea-2CLwUE {
        background: var(--xp2-background);
        box-shadow: inset 0 0 1px 1px grey;

        .slateTextArea-27tjG0 {
            left: 10px;
        }
    }
    
    .sansAttachButton-1ERHue {
        padding-left: 0;
    }

    // Upload button
    .attachButton-_ACFSu {
        border: 1px solid $blue-select;
        border-radius: 4px;
        background: var(--xp2-background) linear-gradient(transparentize($blue-select, 0.8), transparent 20%, transparent 80%, transparentize($blue-select, 0.7));
        padding: 8px;
        margin: 0 8px;

        .attachButtonInner-2mwer8 {
            display: none;
        }

        &::after {
            content: "Attach";
            color: var(--xp2-text);
        }
    }

    // Typing / slowmode indicator
    .base-3bcbY3 {
        top: 0;
    }
}