@forward "./channels";
@forward "./chatbox";
@forward "./forums";
@forward "./friends";
@forward "./members";
@forward "./messages";
@forward "./publicservers";
@forward "./searchresults";
@forward "./servers";
@forward "./nav-task-bar";
@forward "./threads";
@forward "./winbar";
@forward "./vc";

@use "../top/vars" as *;

// Titlebar
.container-ZMc96U {
    padding: 0 16px;
    --__header-bar-background: #{$tabs-center-blue};

    // Titlebar with members list open
    .chat-2ZfjoI:has(.container-2o3qEW) & {
        padding-right: $memberlist-width + 16px;
    }

    .children-3xh0VB .iconWrapper-2awDjA {
        display: none;
    }

    .title-17SveM {
        color: white;
        &::before {
            content: "#";
        }
    }

    .divider-q3P9HC {
        display: none;
    }

    .topic-11NuQZ {
        color: white;
        margin-left: 0;
        font-size: 16px;
        line-height: 20px;
        &::before {
            content: "- ";
        }
    }
}
