@forward "./channels";
@forward "./chatbox";
@forward "./forums";
@forward "./friends";
@forward "./members";
@forward "./messages";
@forward "./publicservers";
@forward "./searchresults";
@forward "./servers";
@forward "./nav-task-bar";
@forward "./threads";
@forward "./winbar";
@forward "./vc";

@use "../top/vars" as *;

// Titlebar
.container_e44302 {
    padding: 0 16px;
    --__header-bar-background: #{$tabs-center-blue};

    // Titlebar with members list open
    .chat_a7d72e:has(.container_cbd271) & {
        padding-right: $memberlist-width + 16px;
    }

    .children_e44302 .iconWrapper_e44302 {
        display: none;
    }

    .title_e44302 {
        color: white;
        &::before {
            content: "#";
        }
    }

    .divider_e44302 {
        display: none;
    }

    .topic_bf3bbb {
        color: white;
        margin-left: 0;
        font-size: 16px;
        line-height: 20px;
        &::before {
            content: "- ";
        }
    }
}
