@forward "./channels";
@forward "./chatbox";
@forward "./forums";
@forward "./friends";
@forward "./members";
@forward "./messages";
@forward "./publicservers";
@forward "./searchresults";
@forward "./servers";
@forward "./nav-task-bar";
@forward "./threads";
@forward "./winbar";
@forward "./vc";

@use "../top/vars" as *;

// Titlebar
.container__11d72 {
    padding: 0 16px;
    --__header-bar-background: #{$tabs-center-blue};

    // Titlebar with members list open
    .chat__52833:has(.container_b2ce9c) & {
        padding-right: $memberlist-width + 16px;
    }

    .children__32014 .iconWrapper_af9215 {
        display: none;
    }

    .title__9e2b0 {
        color: white;
        &::before {
            content: "#";
        }
    }

    .divider_c09b64 {
        display: none;
    }

    .topic__16ae3 {
        color: white;
        margin-left: 0;
        font-size: 16px;
        line-height: 20px;
        &::before {
            content: "- ";
        }
    }
}
