@use "../top/vars-scss" as *;

.container-2o3qEW {
    position: absolute;
    inset: (-$minibar-height) 0 0 auto;
    height: auto;
    z-index: 101;
    --channels-default: var(--xp2-text);
    background: var(--xp2-background);

    &::before {
        content: "Member List";
        display: inline-block;
        position: relative;
        line-height: $minibar-height;
        background: $tabs-blue;
        color: white;
        height: $minibar-height;
        padding: 0 16px;
        font-weight: bold;
    }

    .membersWrap-3NUR2t {
        max-height: calc(100% - #{$minibar-height});
    }

    .membersWrap-3NUR2t,
    .members-3WRCEx {
        width: $memberlist-width;
    }

    .member-2gU6Ar {
        max-width: unset;
    }

    .member-48YF_l,
    .members-3WRCEx {
        background: var(--xp2-background);
    }

    .name-3Vmqxm {
        font-weight: 600;
    }

    .membersGroup-2eiWxl {
        padding: 14px 8px 8px 16px;
        text-transform: none;
        font-size: 16px;

        &::after {
            content: "";
            display: block;
            height: 2px;
            margin-top: 6px;
            background: linear-gradient(to right, transparent, var(--xp2-background-2), transparent);
        }
    }
}
