@use "../top/vars-scss" as *;
@use "../top/boxes" as box;

.layers-OrUESM > .layer-86YKbF {
    top: $winbar-height;
    background: var(--xp2-background-2);

    .platform-win & {
        padding-top: 0;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        width: 100vw;
    }

    // Space for navbar
    &::before {
        background: var(--xp2-background-2);
        height: $navbar-height;
    }

    .container-1eFtFS {
        height: calc(100vh - $navbar-height - $winbar-height - $taskbar-height);
    }

    // Space for taskbar
    &::after {
        @include box.windowTitle;
        height: $taskbar-height;
    }
}

// Pinned / DMs / search etc. from original titlebar
.toolbar-3_r2xA {
    position: fixed;
    inset: $winbar-height 0 auto ($navbar-button-width + 10px) * 2;
    justify-content: flex-end;
    height: $navbar-height;

    // Search bar
    .search-39IXmY {
        order: -1;
        flex: 2;
    }
}

// Mic and headphones from user panel
.panels-3wFtMD .button-12Fmur:not(:last-child) {
    position: fixed;
    top: $winbar-height;
    left: 0;
    gap: 4px;
    display: flex;
    width: $navbar-button-width;
    height: $navbar-height;

    svg {
        background-color: $green-lime;
        background-image: radial-gradient(circle at bottom 20% right 20%, transparent 60%, $green-lime-light 80%),
            radial-gradient(circle at top 20% left 20%, transparent 60%, $green-bright 80%);
        box-shadow: inset 0 0 2px 1px $green-max;
        color: white;
        border-radius: 50%;
        padding: 5px;
    }

    &:nth-child(2) {
        left: $navbar-button-width + 10px;
    }

    &::after {
        content: attr(aria-label);
        color: black;
    }
}

.platform-win .sidebar-1tnWFu {
    overflow: visible;
}
