@use "../top/vars" as *;
@use "sass:math";

// Servers sidebar
.guilds__2b93a {
    width: $serverlist-width;
    background: $channels-blue;
}

// New message indicator
.unreadMentionsIndicatorTop_ada847,
.unreadMentionsIndicatorBottom_fdb943 {
    padding: $serverspacing-width;
    width: $serverlist-width;
}

.unreadMentionsIndicatorTop_ada847 {
    padding-top: 0;
}

.unreadMentionsIndicatorBottom_fdb943 {
    padding-bottom: 0;
}

// Folder, DMs icon, server icon
.folder__17546,
.folder__17546.hover__043de,
.childWrapper__01b9c,
.icon__0cbed {
    background: linear-gradient(to bottom, $tabs-blue, $channels-blue);
    color: white;
}

// DMs / servers divider
.tutorialContainer__890ea + div[style] {
    height: unset !important;
}
.guildSeparator_dcb3cc {
    background: linear-gradient(to right, transparent, transparentize(white, 0.5), transparent);
    height: 3px;
    width: $serveritem-width + 20px;
}

// Open folder container
[role="group"] {
    height: auto !important;
}

// Open folder background
body #app-mount .guilds__2b93a [class*="expandedFolderBackground"] {
    background: transparentize($tabs-blue, 0.5);
    border-radius: 4px;
    left: $serverspacing-width;
    width: $serveritem-width;
}

// Server / folder
.listItem_fa7b36 {
    margin-bottom: $serverspacing-width;
    width: $serverlist-width;

    .wrapper__3af0b,
    .svg_ad7356 {
        width: $serveritem-width;
        height: $serveritem-width;
    }

    .wrapper__3af0b {
        box-shadow: 1px 1px 3px 2px rgb(48, 99, 180);
    }

    .svg_ad7356 {
        border-radius: 4px;
        border: 3px solid rgb(201, 213, 225);
        transition: border-color 0.2s ease-out;
    }

    // Upper badge
    .base__92a12 {
        background: orange;
        border-radius: 4px;
    }

    // Colour border based on read/unread
    // Has unread message
    &:has(.item_f9d377[style*="height: 8px;"]) .svg_ad7356 {
        border-color: white;
    }
    // Has ping
    &:has(.lowerBadge__669e7 .numberBadge__50328) .svg_ad7356 {
        border-color: var(--status-danger);
    }
    // Hovered or current server
    &:has(.item_f9d377[style*="height: 40px;"], .item_f9d377[style*="height: 20px;"]) .svg_ad7356 {
        border-color: orange;
    }
    .pill__6b31b,
    .pill_d1140c {
        display: none;
    }
}

// DMs
.tutorialContainer__890ea {
    margin-top: $serverspacing-width;
}

// Dragged server
.dragInner_a23293,
.target__47b05.dragOver__84b73::before,
.centerTarget_dffece.dragOver__84b73::before {
    border-radius: 4px;
    background: $tabs-blue;
    box-shadow: none;
}

.target__47b05.dragOver__84b73::before {
    top: 0;
}
.centerTarget_dffece.dragOver__84b73:before {
    top: 42px;
}

// Add server and public servers
:is(.tutorialContainer_dc6fde, .tutorialContainer_dc6fde + .listItem_fa7b36) {
    .wrapper__3af0b {
        width: auto;
        height: auto;
        box-shadow: none;

        &::before {
            color: white;
            text-decoration: underline;
        }
    }

    .svg_ad7356 {
        display: none;
    }
}
.wrapper__3af0b::before {
    .tutorialContainer_dc6fde & {
        content: "Add Server...";
    }

    .tutorialContainer_dc6fde + .listItem_fa7b36 & {
        content: "Public Servers";
    }
}
