@use "../top/vars" as *;
@use "sass:math";

// Servers sidebar
.guilds__2b93a {
    width: $serverlist-width;
    background: $channels-blue;
}

// New message indicator
.unreadMentionsIndicatorTop__153ad,
.unreadMentionsIndicatorBottom__9351c {
    padding: $serverspacing-width;
    width: $serverlist-width;
}

.unreadMentionsIndicatorTop__153ad {
    padding-top: 0;
}

.unreadMentionsIndicatorBottom__9351c {
    padding-bottom: 0;
}

// Folder, DMs icon, server icon
.folder__17546,
.folder__17546.hover__043de,
.childWrapper_a6ce15,
.icon__11cf1 {
    background: linear-gradient(to bottom, $tabs-blue, $channels-blue);
    color: white;
}

// DMs / servers divider
.tutorialContainer_b06ae6 + div[style] {
    height: unset !important;
}
.guildSeparator__75928 {
    background: linear-gradient(to right, transparent, transparentize(white, 0.5), transparent);
    height: 3px;
    width: $serveritem-width + 20px;
}

// Open folder container
[role="group"] {
    height: auto !important;
}

// Open folder background
body #app-mount .guilds__2b93a [class*="expandedFolderBackground"] {
    background: transparentize($tabs-blue, 0.5);
    border-radius: 4px;
    left: $serverspacing-width;
    width: $serveritem-width;
}

// Server / folder
.listItem__48528 {
    margin-bottom: $serverspacing-width;
    width: $serverlist-width;

    .wrapper__9916c,
    .svg__34dd4 {
        width: $serveritem-width;
        height: $serveritem-width;
    }

    .wrapper__9916c {
        box-shadow: 1px 1px 3px 2px rgb(48, 99, 180);
    }

    .svg__34dd4 {
        border-radius: 4px;
        border: 3px solid rgb(201, 213, 225);
        transition: border-color 0.2s ease-out;
    }

    // Upper badge
    .base__5ed84 {
        background: orange;
        border-radius: 4px;
    }

    // Colour border based on read/unread
    // Has unread message
    &:has(.item_f9d377[style*="height: 8px;"]) .svg__34dd4 {
        border-color: white;
    }
    // Has ping
    &:has(.lowerBadge_e89e22 .numberBadge__40d6f) .svg__34dd4 {
        border-color: var(--status-danger);
    }
    // Hovered or current server
    &:has(.item_f9d377[style*="height: 40px;"], .item_f9d377[style*="height: 20px;"]) .svg__34dd4 {
        border-color: orange;
    }
    .pill__6b31b,
    .pill_d1140c {
        display: none;
    }
}

// DMs
.tutorialContainer_b06ae6 {
    margin-top: $serverspacing-width;
}

// Dragged server
.dragInner_d5b34c,
.target__2c5c2.dragOver_efabec::before,
.centerTarget_ec3a01.dragOver_efabec::before {
    border-radius: 4px;
    background: $tabs-blue;
    box-shadow: none;
}

.target__2c5c2.dragOver_efabec::before {
    top: 0;
}
.centerTarget_ec3a01.dragOver_efabec:before {
    top: 42px;
}

// Add server and public servers
:is(.tutorialContainer__6835f, .tutorialContainer__6835f + .listItem__48528) {
    .wrapper__9916c {
        width: auto;
        height: auto;
        box-shadow: none;

        &::before {
            color: white;
            text-decoration: underline;
        }
    }

    .svg__34dd4 {
        display: none;
    }
}
.wrapper__9916c::before {
    .tutorialContainer__6835f & {
        content: "Add Server...";
    }

    .tutorialContainer__6835f + .listItem__48528 & {
        content: "Public Servers";
    }
}
