@forward "./spine";
@forward "./userarea";

@use "../../top/vars" as *;
@use "../../top/channel";

.sidebar_e031be .container__7e23c {
    background: var(--xp2-background);
    border-left: 1px solid grey;
}

// Mini bar
.container_f41675 {
    .header__77c95,
    .header__77c95:hover {
        background: $tabs-blue;
    }
}
.container_f41675.bannerVisible_ef30fe {
    .header__77c95,
    .header__77c95:hover {
        background: transparentize($tabs-blue, 0.3);
    }
}

// Header text
.headerContent__6fcc7 {
    color: white;
}

// Special channels (server guide, etc.)
.containerDefault_ae2ea4.wrapper__612a5 {
    margin-left: 0;

    .link_ddbb36 {
        padding-left: 16px;
    }
}

// Category name
.name__27f04 {
    background: var(--xp2-background-2);
    width: fit-content;
    text-transform: none;
}

// Unread pip
.unread__48cf4 {
    display: none;
}

// Channel icon
.iconContainer__6a580 {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 0;
}

// Channel name
.name__4eb92 {
    text-decoration: underline;
    padding: 0 2px;

    // Bold when unread
    .modeUnreadImportant__35358 &,
    .modeUnreadImportant__35358:hover & {
        font-weight: 600;
    }

    // Channel icon
    &::before {
        // Text channels
        @include channel.icon("#", "M5.88657 21", "M14 8", "M5.43309 21", "M15.44 6.99992", "M14.4 7");
        // Announcement channels
        @include channel.icon("⩤", "M19.1 4", "M4.85 8.26445", "M19.0999 3.99994", "M16.6811 5.6591", "M15.84 5.84438");
        // Forum channels
        @include channel.icon("⟰", "M6.56929 14.6869", "M13 4");
        // Voice channels
        @include channel.icon("ᐗ", "M11.383 3.07904", "M15 12");
        // Stage channels
        @include channel.icon("◎", "M14 13", "M15 2.41495");
    }
}

// Selected channel background
.link_ddbb36 {
    .modeSelected__473f1 &,
    .modeSelected__473f1:hover & {
        background: unset;
    }
}
// Selected / connected channel background
.modeSelected__473f1,
.modeSelected__473f1:hover,
.modeConnected__52a8f,
.modeConnected__52a8f:hover {
    .name__4eb92 {
        background: $tabs-blue;
        color: white;
        font-weight: 500;
        flex: none;
    }
    .children__563f2 {
        margin-left: auto;
    }
}
