@forward "./spine";
@forward "./userarea";

@use "../../top/vars" as *;
@use "../../top/channel";

.sidebar_a4d4d9 .container_ee69e0 {
    background: var(--xp2-background);
    border-left: 1px solid grey;
}

// Mini bar
.container_fd6364 {
    .header_fd6364,
    .header_fd6364:hover {
        background: $tabs-blue;
    }
}
.container_fd6364.bannerVisible_fd6364 {
    .header_fd6364,
    .header_fd6364:hover {
        background: transparentize($tabs-blue, 0.3);
    }
}

// Header text
.headerContent_fd6364 {
    color: white;
}

// Special channels (server guide, etc.)
.containerDefault_f6f816.wrapper_d8bfb3 {
    margin-left: 0;

    .link_d8bfb3 {
        padding-left: 16px;
    }
}

// Category name
.name_a08117 {
    background: var(--xp2-background-2);
    width: fit-content;
    text-transform: none;
}

// Unread pip
.unread_d8bfb3 {
    display: none;
}

// Channel icon
.iconContainer_d8bfb3 {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 0;
}

// Channel name
.name_d8bfb3 {
    text-decoration: underline;
    padding: 0 2px;

    // Bold when unread
    .modeUnreadImportant_d8bfb3 &,
    .modeUnreadImportant_d8bfb3:hover & {
        font-weight: 600;
    }

    // Channel icon
    &::before {
        // Text channels
        @include channel.icon("#", "M5.88657 21", "M14 8", "M5.43309 21", "M15.44 6.99992", "M14.4 7");
        // Announcement channels
        @include channel.icon("⩤", "M19.1 4", "M4.85 8.26445", "M19.0999 3.99994", "M16.6811 5.6591", "M15.84 5.84438");
        // Forum channels
        @include channel.icon("⟰", "M6.56929 14.6869", "M13 4");
        // Voice channels
        @include channel.icon("ᐗ", "M11.383 3.07904", "M15 12");
        // Stage channels
        @include channel.icon("◎", "M14 13", "M15 2.41495");
    }
}

// Selected channel background
.link_d8bfb3 {
    .modeSelected_d8bfb3 &,
    .modeSelected_d8bfb3:hover & {
        background: unset;
    }
}
// Selected / connected channel background
.modeSelected_d8bfb3,
.modeSelected_d8bfb3:hover,
.modeConnected_d8bfb3,
.modeConnected_d8bfb3:hover {
    .name_d8bfb3 {
        background: $tabs-blue;
        color: white;
        font-weight: 500;
        flex: none;
    }
    .children_d8bfb3 {
        margin-left: auto;
    }
}
