@use "../../top/vars" as *;

// Channels
.wrapper_d8bfb3 {
    border-radius: 0;
    padding-left: 0;

    // Threads
    .typeThread_d8bfb3 & {
        margin-left: 32px;
        padding-left: 0;
    }
}

// Channel in category
.containerDefault_a08117 ~ .containerDefault_f6f816 {
    margin-left: 16px;
}

// Thread in category
.containerDefault_a08117 ~ .container_e1e976 {
    margin-left: 24px;
}
.typeThread_d8bfb3.wrapper_d8bfb3 {
    margin-left: 16px;
}

// Bring channels/threads closer together while maintaining original height
.wrapper_d8bfb3 {
    padding: 0;

    .mainContent-20q_Hp {
        padding: 7px;
    }
}

// Remove original spine on threads
.spine_e1e976,
.spineBorder_e1e976 {
    display: none;
}

// Respine time
// Channels in categories, and channels in threadgroups
:is(.containerDefault_a08117 ~ .containerDefault_f6f816, .container_e1e976 .containerDefault_f6f816) .wrapper_d8bfb3::before,
.voiceUser_cdc675::before {
    content: "";
    display: block;
    align-self: flex-start;
    $size: 16px;
    width: 8px;
    height: $size;
    position: absolute;
}

// T-shaped spines
// Channels in categories followed by another channel, or a threadgroup and then another channnel
// Channels in threadgroups that are not the last channel
// Users in voice channels that are not the last user
:is(
        .containerDefault_a08117 ~ .containerDefault_f6f816:has(+ .containerDefault_f6f816, + .container_e1e976 + .containerDefault_f6f816),
        .container_e1e976 .containerDefault_f6f816:not(:last-child)
    ) {
    // New spine border
    .wrapper_d8bfb3 {
        border-left: 1px dotted grey;

        // New spine
        &::before {
            border-bottom: 1px dotted grey;
        }
    }
}
// Voice user list
.list_a478e5 {
    margin-left: 8px;
    padding-left: 16px;

    // In parent followed by another channel
    .containerDefault_a08117 ~ .containerDefault_f6f816:has(+ .containerDefault_f6f816) & {
        border-left: 1px dotted grey;
    }
}
// Voice user followed by another user
.voiceUser_cdc675:not(.overlap_cdc675, :last-child) {
    border-left: 1px dotted grey;
    &::before {
        border-bottom: 1px dotted grey;
    }
}

// L-shaped spines
// Channels that are the inversion of the above selector, still in category or threadgroup
:is(
        .containerDefault_a08117
            ~ .containerDefault_f6f816:not(:has(+ .containerDefault_f6f816, + .container_e1e976 + .containerDefault_f6f816)),
        .container_e1e976 .containerDefault_f6f816:last-child
    ) {
    .wrapper_d8bfb3 {
        &::before {
            border: dotted grey;
            border-width: 0 0 1px 1px;
        }
    }
}
.voiceUser_cdc675:not(.overlap_cdc675):last-child {
    &::before {
        border: dotted grey;
        border-width: 0 0 1px 1px;
    }
}

// Thread group spines
.container_e1e976:has(+ .containerDefault_f6f816) {
    border-left: 1px dotted grey;
}
