@use "../../top/vars" as *;

// Channels
.wrapper-NhbLHG {
    border-radius: 0;
    padding-left: 0;

    // Threads
    .typeThread-2Aqh6X & {
        margin-left: 32px;
        padding-left: 0;
    }
}

// Channel in category
.containerDefault-3TQ5YN ~ .containerDefault-YUSmu3 {
    margin-left: 16px;
}

// Thread in category
.containerDefault-3TQ5YN ~ .container-1Bj0eq {
    margin-left: 24px;
}
.typeThread-2Aqh6X.wrapper-NhbLHG {
    margin-left: 16px;
}

// Bring channels/threads closer together while maintaining original height
.wrapper-NhbLHG {
    padding: 0;

    .mainContent-20q_Hp {
        padding: 7px;
    }
}

// Remove original spine on threads
.spine-29OFwR,
.spineBorder-1-F4s1 {
    display: none;
}

// Respine time
// Channels in categories, and channels in threadgroups
:is(.containerDefault-3TQ5YN ~ .containerDefault-YUSmu3, .container-1Bj0eq .containerDefault-YUSmu3) .wrapper-NhbLHG::before,
.voiceUser-3nRK-K::before {
    content: "";
    display: block;
    align-self: flex-start;
    $size: 16px;
    width: 8px;
    height: $size;
    position: absolute;
}

// T-shaped spines
// Channels in categories followed by another channel, or a threadgroup and then another channnel
// Channels in threadgroups that are not the last channel
// Users in voice channels that are not the last user
:is(
        .containerDefault-3TQ5YN ~ .containerDefault-YUSmu3:has(+ .containerDefault-YUSmu3, + .container-1Bj0eq + .containerDefault-YUSmu3),
        .container-1Bj0eq .containerDefault-YUSmu3:not(:last-child)
    ) {
    // New spine border
    .wrapper-NhbLHG {
        border-left: 1px dotted grey;

        // New spine
        &::before {
            border-bottom: 1px dotted grey;
        }
    }
}
// Voice user list
.list-2x9Cl9 {
    margin-left: 8px;
    padding-left: 16px;

    // In parent followed by another channel
    .containerDefault-3TQ5YN ~ .containerDefault-YUSmu3:has(+ .containerDefault-YUSmu3) & {
        border-left: 1px dotted grey;
    }
}
// Voice user followed by another user
.voiceUser-3nRK-K:not(.overlap-1yhayD, :last-child) {
    border-left: 1px dotted grey;
    &::before {
        border-bottom: 1px dotted grey;
    }
}

// L-shaped spines
// Channels that are the inversion of the above selector, still in category or threadgroup
:is(
        .containerDefault-3TQ5YN
            ~ .containerDefault-YUSmu3:not(:has(+ .containerDefault-YUSmu3, + .container-1Bj0eq + .containerDefault-YUSmu3)),
        .container-1Bj0eq .containerDefault-YUSmu3:last-child
    ) {
    .wrapper-NhbLHG {
        &::before {
            border: dotted grey;
            border-width: 0 0 1px 1px;
        }
    }
}
.voiceUser-3nRK-K:not(.overlap-1yhayD):last-child {
    &::before {
        border: dotted grey;
        border-width: 0 0 1px 1px;
    }
}

// Thread group spines
.container-1Bj0eq:has(+ .containerDefault-YUSmu3) {
    border-left: 1px dotted grey;
}
