@use "../../top/vars" as *;
@use "../../top/box";

// User area
.panels__58331 {
    z-index: unset;

    // Activity panel, see nav-task-bar

    // Voice connection
    .container_e1958d {
        background: $tabs-center-blue;

        .rtcConnectionStatusLabel_c2abfa,
        .rtcConnectionStatus_e749c4 .pingForeground__2b613 {
            color: white;
        }
    }

    // User info
    .container_debb33 {
        height: 52px;
        background: $tabs-blue;
        justify-content: space-between;

        // Settings as ref-accurate text
        // .button_ae40a4:last-child {
        //     color: white;
        //     width: auto;
        //     svg {
        //         display: none;
        //     }

        //     &::before {
        //         content: "Settings";
        //         text-decoration: underline;
        //     }
        // }

        // Settings as start button, see nav-task-bar
    }

    .title__4a7a9,
    .subtext_ce73b4 {
        color: white;
    }
}
