@use "../../top/vars" as *;
@use "../../top/box";

// User area
.panels_a4d4d9 {
    z-index: unset;

    // Activity panel, see nav-task-bar

    // Voice connection
    .container_adcaac {
        background: $tabs-center-blue;

        .rtcConnectionStatusLabel_c0cb95,
        .rtcConnectionStatus_c0cb95 .pingForeground_c0cb95 {
            color: white;
        }
    }

    // User info
    .container_b2ca13 {
        height: 52px;
        background: $tabs-blue;
        justify-content: space-between;

        // Settings as ref-accurate text
        // .button_f67531:last-child {
        //     color: white;
        //     width: auto;
        //     svg {
        //         display: none;
        //     }

        //     &::before {
        //         content: "Settings";
        //         text-decoration: underline;
        //     }
        // }

        // Settings as start button, see nav-task-bar
    }

    .title_d1da5f,
    .subtext_e06aad {
        color: white;
    }
}
